
$x-main-color: #303133;
$x-content-color: #606266;
$x-tips-color: #909193;
$x-light-color: #c0c4cc;
$x-border-color: #dadbde;
$x-bg-color: #f3f4f6;
$x-disabled-color: #c8c9cc;

$x-primary: #3c9cff;
$x-primary-dark: #398ade;
$x-primary-disabled: #9acafc;
$x-primary-light: #ecf5ff;

$x-warning: #f9ae3d;
$x-warning-dark: #f1a532;
$x-warning-disabled: #f9d39b;
$x-warning-light: #fdf6ec;

$x-success: #5ac725;
$x-success-dark: #53c21d;
$x-success-disabled: #a9e08f;
$x-success-light: #f5fff0;

$x-error: #f56c6c;
$x-error-dark: #e45656;
$x-error-disabled: #f7b2b2;
$x-error-light: #fef0f0;

$x-info: #909399;
$x-info-dark: #767a82;
$x-info-disabled: #c4c6c9;
$x-info-light: #f4f4f5;
